<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>

    <h3> <%= current_user.name %> </h3>

    <% end %>
    <% else %>

      <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
        <label>Username</label>
         <%= text_field_tag :username %> <br>
         <label>Password</label>
         <%= password_field_tag :password %><br>
         <%= submit_tag "Login" %>

    <% end %>


    <%= yield %>
  </body>
</html>
